.social-icons {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 9999;
  background-color: #000000;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: inherit; /* Add this line to inherit the color from parent */
}

.social-icons a i {
  font-size: 20px;
}

.social-icons a:hover {
  background-color: #240303; /* Add a hover effect if desired */
}

.social-icons a.linkedin i {
  color: #106694;
}

.social-icons a.github i {
  color: #333;
}

.social-icons a.instagram i {
  color: #E4405F;
}
