<div class="big-card__container">

  <div class="big-card__picture">
    <img src="https://m.media-amazon.com/images/S/pv-target-images/b5e02a9dba88c2abd50700d3e18ac0a7413ab383a0bc4d1d4305485ddc68fe25._AC_SL792_.jpg"
    alt=""
    height="200px"
    srcset="">
  </div>

  <div class="big-card__title">

    <h1><a href="">Java 20: What's New in JDK 20</a></h1>

  </div>

  <div class="big-card__description">
    <a href="#">
      <p>Released on March 21, 2023 from Oracle, Java 20 is the latest upgrade of standard Java.</p>
    </a>
  </div>

</div>
