<div class="menu-bar__container">
  <ul>
    <a href="#" class="home-icon">
      <i class="fas fa-home"></i>
    </a>

    <li><span>|</span></li>
    <li class="home-icon-photos"><a href="http://localhost:4200/photos"></a>Photos</li>

    <li><span>|</span></li>
    <li><a href="http://localhost:4200/books"></a>Books</li>

    <li><span>|</span></li>
    <li class="home-icon-studying"><a href="http://localhost:4200/studying"></a>Studying</li>

    <input class="no-submit" type="search" placeholder="Search..." method="GET">

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/alfeups/" target="_blank">
          <li class="fab fa-linkedin"></li>
      </a>

      <a href="https://github.com/alfeups" target="_blank">
          <li class="fab fa-github"></li>
      </a>

      <a href="https://www.instagram.com/alfeups/" target="_blank">
          <li class="fab fa-instagram"></li>
      </a>
    </div>
  </ul>

</div>
